<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログイン | Libris</title>
  <link rel="stylesheet" th:href="@{/css/auth.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>

<!-- 背景プレビュー（必要な時だけ） -->
<!--
<div class="preview-bg">
  <div class="preview-track">
    <img src="/img/preview/preview-search.png">
    <img src="/img/preview/preview-detail.png">
    <img src="/img/preview/preview-shelf.png">
    <img src="/img/preview/preview-edit.png">
  </div>
</div>
-->

<div class="auth-wrapper">
  <div class="auth-card auth-card--normal">

    <div class="auth-title">ログイン</div>

    <div th:if="${msg}" class="message message--success" th:text="${msg}"></div>
	<div th:if="${errorMessage}" class="message message--error" th:text="${errorMessage}"></div>

    <form th:action="@{/auth/login}"
          method="post"
          th:object="${loginForm}">

      <div class="form-group">
        <label class="form-label">ログインID</label>
        <input type="text" th:field="*{loginId}" class="form-input">
        <div th:errors="*{loginId}" class="error-msg"></div>
      </div>

      <div class="form-group">
        <label class="form-label">パスワード</label>
        <input type="password" th:field="*{password}" class="form-input" id="loginPassword">
        <div th:errors="*{password}" class="error-msg" ></div>
      </div>
	  <label class="show-password">
	    <input type="checkbox" onclick="toggleLoginPassword()">
	    パスワードを表示する
	  </label>

      <button type="submit" class="auth-btn">
        ログイン
      </button>
    </form>

    <div class="register-link">
      <a href="/user/register">☆新規登録はこちらから☆</a>
    </div>

  </div>
</div>


<script>
  function toggleLoginPassword() {
    const pw = document.getElementById("loginPassword");
    pw.type = pw.type === "password" ? "text" : "password";
  }
</script>

</body>
</html>
