<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>書籍検索</title>

	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/nav.css}">
	<link rel="stylesheet" th:href="@{/css/search.css}">

</head>

<body>

	<div th:replace="layout/fragments/nav :: nav"></div>


	<div class="container">

		<!-- ▼ 検索フォーム -->
		<section>
			<div  class="card search-card">

				<h1 class="page-title" style="text-align:center">書籍検索</h1>

				<!-- バリデーションエラー -->
				<div th:if="${errorMessage}" class="message message-error" th:text="${errorMessage}"></div>


				<form th:action="@{/books/search}" method="post" th:object="${form}">

					<div class="form-group">
						<label>フリーワード検索</label>
						<input type="text" th:field="*{keyword}">
					</div>

					<div class="two-columns">
						<div class="form-group">
							<label>タイトル</label>
							<input type="text" th:field="*{title}">
						</div>

						<div class="form-group">
							<label>ISBN</label>
							<input type="text" th:field="*{isbn}">
						</div>

						<div class="form-group">
							<label>著者</label>
							<input type="text" th:field="*{authors}">
						</div>

						<div class="form-group">
							<label>種類</label>
							<select th:field="*{printType}">
								<option value="all">すべて</option>
								<option value="books">書籍</option>
								<option value="magazines">雑誌</option>
							</select>
						</div>

						<div class="form-group">
							<label>出版社</label>
							<input type="text" th:field="*{publisher}">
						</div>

						<div class="form-group">
							<label>ソート順</label>
							<select th:field="*{orderBy}">
								<option value="relevance">関連度順</option>
								<option value="newest">新しい順</option>
							</select>
						</div>
					</div>

					<div style="text-align:center; margin-top:20px;">
						<button type="submit" btn btn-primary>検索</button>
					</div>

				</form>
			</div>
		</section>

		<!-- ▼ 検索結果 -->
		<section th:if="${books != null}">

			<!-- 件数表示 -->
			<h2 style="margin-top:40px; font-size:1.3rem;" th:if="${books.size() > 0}">
				検索結果：
				<span th:text="${page.totalItems}"></span> 件中
				<span th:text="${page.startIndex}"></span> -
				<span th:text="${page.endIndex}"></span> 件を表示
			</h2>

			<!-- 0件 -->
			<div th:if="${books.size() == 0}" style="margin-top:20px; text-align:center; font-weight:600;">
				該当する書籍がありませんでした。
			</div>

			<!-- ▼ 結果カード -->
			<div class="result-grid">

				<a th:each="b : ${books}"
					th:href="@{/books/detail/{googleVolumeId}(googleVolumeId=${b.googleVolumeId})}" class="result-card"
					style="text-decoration:none; color:inherit; display:flex;">

					<img th:src="${b.thumbnailLink}" alt="thumbnail">

					<div class="result-info">
						<div><strong th:text="${b.title}"></strong></div>
						<div th:text="${b.authors}"></div>
						<div th:text="${b.publisher}"></div>
					</div>

				</a>

			</div>


			<!-- ▼ ページネーション -->
			<div class="pagination" th:if="${page.maxPages > 1}">

				<!-- 前へ -->
				<a th:if="${page.page > 1}" th:href="@{/books/search(page=${page.page - 1})}">
					＜ 前へ
				</a>

				<!-- ページ番号 -->
				<span th:each="i : ${#numbers.sequence(1, page.maxPages)}">
					<a th:href="@{/books/search(page=${i})}" th:classappend="${i == page.page} ? 'active'"
						th:text="${i}">
					</a>
				</span>

				<!-- 次へ -->
				<a th:if="${page.page < page.maxPages}" th:href="@{/books/search(page=${page.page + 1})}">
					次へ ＞
				</a>
			</div>

		</section>

	</div>

	<footer th:replace="layout/fragments/footer :: footer"></footer>

</body>

</html>