<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsd.libris.mapper.user.UserProfilesMapper">


	<select id="findUserProfileByUserId" resultType="UserWithProfileEntity">
	
		select
		u.user_id as user_id,
		u.login_id as login_id,
        u.display_name as display_name,
        up.last_name,
        up.first_name,
        up.last_name_kana,
        up.first_name_kana,
        up.postal_code,
        up.prefecture,
        up.city,
        up.town,
        up.address_number,
        up.building,
        up.birthday,
        up.phone_number,
        up.email
		from users u
		join user_profiles up
		on u.user_id = up.user_id
		where u.user_id = #{userId};
	
	</select>
	
	<insert id="insertProfile" parameterType="UserProfilesEntity">
	
		insert into user_profiles( 
		user_id,
		email)
		values(
		#{userId},
		#{email});
	
	</insert>


	<update id="updateProfile" parameterType="UserProfilesEntity">
	
		update user_profiles
		set
		postal_code = #{postalCode},
		prefecture =  #{prefecture},
		city = #{city},
		town = #{town},
		address_number = #{addressNumber},
		building = #{building},
		phone_number = #{phoneNumber},
		email = #{email}
		where user_id = #{userId};
	
	
	</update>















</mapper>