<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsd.libris.mapper.userbooks.UserBookMapper">


	<select id="findById">
	
	select *
	from user_books
	where id = #{id};
	
	</select>


	<select id="findByUserIdAndBookId" resultType="UserBooksEntity">
	
		select *
		from user_books
		where
		user_id = #{userId}
		and
		book_id = #{bookId};
	
	</select>
	

	<select id="findReviewsByBookId" resultType="UserBooksWithUserEntity">
	
		select u.display_name as display_name,ub.rating as rating,ub.review as review,ub.review_updated_at as review_updated_at
		from user_books ub
		join users u
		on ub.user_id = u.user_id
		where book_id = #{bookId}
		AND review_updated_at is not null;
	</select>
	
	<select id="findReviewById" resultType="UserBooksEntity">
	
		select *
		from user_books
		where id = #{id};
	
	
	</select>


	<select id="findUserBookStatus" resultType="String">
	
		select status
		from user_books
		where id = #{id};
		
	</select>
	
	
	<insert id="insertUserBook" parameterType="UserBooksEntity">
	
		insert into user_books(
		user_id,
		book_id,
		status,
		rating,
		review)
		values(
		#{userId},
		#{bookId},
		#{status},
		#{rating},
		#{review});
	
	</insert>
	
	
	<update id="updateUserBookStatus" >	
	
		update user_books
		set
		status = #{status}
		where id = #{id};
	
	</update>
	
	<update id="updateUserBookReview" >
	
		update user_books
		set
		review = #{review}
		where id = #{id};
	
	</update>
	
	



</mapper>