:root {
  --danger: #D14343;
}

body {
    background: #EBE9EA;
    color: #34251F;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}


/* ページ全体のコンテンツ */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

/* カード */
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

label {
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #CCC;
    margin-top: 5px;
}

button {
    background: #34251F;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #5a4235;
}

/* ===== Message ===== */
.message {
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-weight: 600;
}

.message-success {
    background: #e6f4ea;
    color: #627962;
    border: 1px solid #b7e1c2;
}

.message-error {
    background: #ffe5e5;
    color: #a40000;
    border: 1px solid #f5bcbc;
}

.empty-message {
    text-align: center;
    margin-top: 40px;
    color: #888;
}



/* 検索フォーム見出し */
/*.page-title {*/
/*    font-size: 1.6rem;*/
/*    font-weight: 700;*/
/*    margin-bottom: 20px;*/
/*}*/


/* フォーム */
/*.form-group {*/
/*    margin-bottom: 18px;*/
/*}*/